header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/public/img/pexels-markusspiske-1752757_resultat.webp")
    center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    animation: fadeAfter 2s ease forwards 2s;
  }
}

.header-title {
  color: white;
  text-align: center;
  animation: titleFadeColor ease forwards 2.5s;
  & h1 {
    margin: 20px auto;
    font-size: 1rem;
    transform: translateX(-100%);
    opacity: 0;
    animation: title1Translate 0.8s ease forwards;
  }
  & h2 {
    margin: 20px auto;
    font-size: 1rem;
    transform: translateX(100%);
    opacity: 0;
    animation: title2Translate 0.8s ease forwards;
  }
}

// Animations //

@keyframes fadeAfter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes titleFadeColor {
  0% {
    color: black;
    z-index: 40;
  }

  85% {
    color: black;
    z-index: 40;
  }
  100% {
    color: white;
    z-index: 0;
  }
}

@keyframes title1Translate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes title2Translate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
