.header-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  background: black;
}

.header-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: white;
  z-index: 10;
  animation: fader 1.2s ease forwards;
}

.header-hero::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  height: 140px;
  width: 100%;
  opacity: 0;
  background: radial-gradient(
    circle,
    rgba(7, 132, 173, 0.85) 45%,
    rgba(0, 0, 0, 0.88) 95%
  );
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  animation: translate 2s ease forwards 1s;
}

.header-hero .header-title {
  position: absolute;
  width: 100%;
  bottom: -50px;
  color: #365fa0;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 300px;
  opacity: 0;
  z-index: 2;
  animation: title 1.5s ease forwards 1.4s;
}

svg {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

svg text {
  text-transform: uppercase;
  animation: stroke 3s forwards 2s;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 130px;
  opacity: 0;
}

.main-hero-mobile {
  display: none;
}

.navbar-hamb-menu {
  position: fixed;
  display: none;
  right: -50px;
  top: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  animation: menu 0.8s ease forwards 1.5s;
}

.navbar-hamb-menu span {
  position: relative;
  width: 35px;
  height: 35px;
}

.navbar-hamb-menu span img {
  position: absolute;
  width: 100%;
  height: auto;
  transition: 0.4s ease;
}

.close {
  transform: rotateY(90deg);
  transition: 0.4s ease;
  opacity: 0;
}

/** MediaQuery Mobile **/

@media screen and (max-width: 820px) {
  .header-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 1;
    z-index: 3;
    background: radial-gradient(
      circle,
      rgba(7, 132, 173, 0.82) 57%,
      rgba(0, 0, 0, 0.82) 89%
    );
    animation: fader 2s ease forwards 3.5s;
  }

  .header-hero::after {
    display: none;
  }

  .header-hero .header-title {
    position: absolute;
    height: 400px;
    width: 100%;
    top: 15%;
    transform: translateY(-50%);
    margin: 0 auto;
    color: blue;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
    opacity: 0;
    z-index: 4;
    animation: titleMobile 1s ease forwards;
    overflow-y: hidden !important;
  }

  .desktop {
    display: none;
  }
  .main-hero-mobile {
    display: block;
    margin: 0 auto;
  }
  .main-hero-mobile svg {
    height: 400px;
  }

  .main-hero-mobile svg text {
    font-size: 200px !important;
    animation: stroke 2s forwards 1s;
  }

  .navbar-hamb-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    transition: 0.3s ease;
    animation-delay: 3s;
    z-index: 999;
  }
}

.close-active {
  transform: rotateY(0deg);
  transition: 0.4s ease;
  opacity: 1;
}

.open-active {
  transform: rotateY(90deg);
  transition: 0.4s ease;
  opacity: 0;
}

/** Animation befor & after **/

@keyframes fader {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes translate {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes translateMobile {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes title {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 25px;
  }
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(220, 222, 224);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
    opacity: 1;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(185, 185, 185);
    opacity: 1;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(216, 216, 218);
    stroke-width: 3;
    opacity: 1;
  }
  100% {
    fill: rgb(228, 228, 228);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
    opacity: 1;
  }
}

@keyframes titleMobile {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 90px;
  }
}

@keyframes menu {
  from {
    right: -50px;
  }
  to {
    right: 20px;
  }
}

/***  carousel BKGD ***/

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow-y: hidden;
}

.carousel-slide.active {
  opacity: 1;
  overflow-y: hidden;
  animation: slider 3s ease forwards;
}

@keyframes slider {
  from {
    transform: scale(1.1);
    overflow-y: hidden;
  }
  to {
    transform: scale(1);
    overflow-y: hidden;
  }
}
