*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: grey;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.bkgd-body {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.bkgd-body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("../../public/img/bkgd_header.webp") center / cover;
}

.bkgd-body:after {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(204, 204, 204, 0.51);
}
