*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: grey;
  overflow-x: hidden;
  background: url("../../public/img/bkgd_header.webp") center / cover fixed;
}
