*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: grey;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("../../public/img/bkgd_header_II.webp");
  background-attachment: fixed;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s ease;
}
