.main-actu-container {
  position: relative;
  width: 100%;
  height: 1050px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.28) 10%,
    rgba(7, 132, 173, 0.85) 48%,
    rgba(0, 0, 0, 0.88) 92%
  );
}

.main-actu-container h2 {
  margin: 0 auto;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 15px 0;
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
}

.main-actu-btn {
  width: 50%;
  height: 50px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/** Button **/

.main-actu-btn button {
  position: relative;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: white;
  color: ghostwhite;
}
.main-actu-btn button a {
  padding: 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.main-actu-btn button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.main-actu-btn a:hover {
  filter: drop-shadow(2px 5px 4px black);
  transition: all 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.main-actu-btn button:active {
  transition: all 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  scale: 0.9;
}

.main-actu-btn button:hover span {
  color: black;
}

.main-actu-btn button::before,
.main-actu-btn button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main-actu-btn button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.main-actu-btn button:hover::before {
  transform: translate3d(100%, 0, 0);
}

/** End Button **/

#resultat {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(100%);
}

#classement {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

/** Carousel fetch **/

.main-actu-fetch {
  position: relative;
  width: 100%;
  height: 755px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  padding: 0 50px;
}

.main-actu-match {
  width: 100%;
  height: auto;
  margin: auto 0;
  padding: 0 50px;
  transition: all 0.3s ease;
}

.main-actu-resultat {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  padding: 0 50px;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

button.active {
  transition: all 0.5s ease;
}

button.active:not(button:active) {
  scale: 0.8;
  transition: all 0.5s ease;
  border: 1px solid white;
}

/** MediaQuery Mobile **/

@media screen and (max-width: 820px) {
  .main-actu-container {
    height: 100%;
    overflow-y: hidden;
  }

  .main-actu-btn {
    width: 100%;
    justify-content: space-around;
    margin: 25px auto;
  }

  .main-actu-fetch {
    height: 100%;
    max-height: 1200px !important;
    padding: 5px 0 !important;
  }

  .main-actu-match {
    padding: 5px;
  }

  .main-actu-resultat {
    height: max-content;
    padding: 5px;
  }

  .fetch-match {
    height: 700px !important;
    padding: 5px !important;
  }

  .fetch-classement {
    height: 600px !important;
    overflow-x: hidden !important;

    padding: 5px;
  }
}

/** Animations Observer **/

.actived {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transition: all 0.5s ease !important;
}
