.main-equipe-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.28) 10%,
    rgba(7, 132, 173, 0.85) 48%,
    rgba(0, 0, 0, 0.88) 92%
  );
}

.main-equipe-container h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 40px 0;
}

.main-equipe-carousel {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 650px;
}

.main-equipe-liste {
  width: 30%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: (6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  margin: 0;
  opacity: 0;
  transition: all 1s ease;
}

.main-equipe-liste button {
  width: clamp(90px, 120px, 100px);
  height: 40px;
  margin: 5px auto;
  border-radius: 8px;
  border: 1px solid black;
  background: white;
  color: black;
}

.main-equipe-liste button:active {
  scale: 0.9;
  transition: 0.2s ease;
}

.main-equipe-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  width: clamp(500px, 100%, 60%);
  max-height: 600px;
  opacity: 0;
  transform: translateX(50%);
}

.main-equipe-image img {
  width: clamp(500px, 100%, 650px);
  max-height: 600px;
  border-radius: 9px;
}

/** MediaQuery Mobile **/

@media screen and (max-width: 820px) {
  .main-equipe-container {
    padding: 20px;
  }

  .main-equipe-carousel {
    flex-direction: column;
    justify-content: space-between;
    height: 580px;
  }

  .main-equipe-liste {
    width: 100%;
    height: 190px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }

  .main-equipe-carousel button {
    width: 90px;
  }
  .main-equipe-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .main-equipe-image img {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
  }
}

/** Observer **/

.actived {
  opacity: 1;
  transition: all 0.5s ease;
}

/** Carousel **/

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.number-slide1 {
  /* background: transparent; */
}

/* .number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
} */

/* .number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
} */

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
  width: 150px !important;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px solid white;
  border-radius: 5px;
}

.slide {
  min-height: auto;
  height: 500px;
  padding: 10px;
  background: transparent;
}

.thumbnail-contain p {
  padding: 0;
}
/** BKGD Carousel **/

.slide-bureau {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/Bureau.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-U9F1 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-U9M2 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-U9M1 {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/U9M1.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-U11F2 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-U11F1 {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/U11F1.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U11M2 {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/U11M2.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U11M1 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U13F1 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U13M1 {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/U13M1.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U15M2 {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/U15M2.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U15M1 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U18M2 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-U18M1 {
  width: 70%;
  height: 100%;
  background-image: url("../../public/img/Equipes/U18M1.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-seniorF1 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-seniorM2 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-seniorM1 {
  width: 70%;
  height: 100%;
  background-color: grey;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/** Thumbnail BKGD **/

.thumbnail-bureau {
  background: url("../../public/img/Equipes/Bureau.webp") center / cover;
}

.thumbnail-U9F1 {
  background-color: gray;
}

.thumbnail-U9M2 {
  background-color: gray;
}

.thumbnail-U9M1 {
  background: url("../../public/img/Equipes/U9M1.webp") center / cover;
}

.thumbnail-U11F2 {
  background-color: gray;
}

.thumbnail-U11F1 {
  background: url("../../public/img/Equipes/U11F1.webp") center / cover;
}
.thumbnail-U11M2 {
  background: url("../../public/img/Equipes/U11M2.webp") center / cover;
}
.thumbnail-U11M1 {
  background-color: gray;
}
.thumbnail-U13F1 {
  background-color: gray;
}
.thumbnail-U13M1 {
  background: url("../../public/img/Equipes/U13M1.webp") center / cover;
}
.thumbnail-U15M2 {
  background: url("../../public/img/Equipes/U15M2.webp") center / cover;
}
.thumbnail-U15M1 {
  background-color: gray;
}
.thumbnail-U18M2 {
  background-color: gray;
}
.thumbnail-U18M1 {
  background: url("../../public/img/Equipes/U18M1.webp") center / cover;
}
.thumbnail-seniorF1 {
  background-color: gray;
}
.thumbnail-seniorM2 {
  background-color: gray;
}
.thumbnail-seniorM1 {
  background-color: gray;
}

/** Média Query **/

@media screen and (max-width: 820px) {
  .keen-slider__slide {
    display: flex;
    min-height: auto;
    height: 350px;
  }

  .thumbnail {
    min-height: auto;
  }

  .thumbnail p {
    text-align: center;
    padding: 0;
    font-size: 1rem;
  }
}
